*{
    padding: 0;
    margin: 0;
    text-decoration:none ;
    list-style: none;
    box-sizing: border-box;
}

body
{
font-family: Georgia, 'Times New Roman', Times, serif ;
}
nav{
  
    background: #102925;
    height: 80px;
    width:100%
}
.glogo{
  float: left;
  height: 70px;
  padding-left: 20px;
  margin-right: 10px;
  padding-top: 10px;
}
.gname{
    color:white;
    font-size: 25px;
    line-height: 80px;
    float: left;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display:inline-block;
    line-height: 80px ;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: #29685e;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#cheak{
    display: none;
}

.about-us h1{
  font-weight: bold;
  text-align: left;
  color: #102925;
}


.about-us   a{
  margin-top: 15px;
  font-family: 'Merriweather Sans', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 55px;
  background-color: #102925;
  border: 1px solid #102925;
  color: #fffefe;
}

.about-us  a:hover {
  background-color: transparent;
  color: #102925;
}

.about-us {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap; 
  margin: 32px 0; 
}

.about-text {
  flex: 1; 
  padding: 30px;
  
}

.about-image {
  flex: 1; 
  padding: 30px;
  text-align: center; 
}

.about-image img {
  width: 100%;
  max-width: 400px; 
}

.service-us h2{
  font-weight: bold;
  text-align: left;
  color: #102925;
}


.service-us   a{
  margin-top: 15px;
  font-family: 'Merriweather Sans', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 55px;
  background-color: #102925;
  border: 1px solid #102925;
  color: #fffefe;
}

.service-us  a:hover {
  background-color: transparent;
  color: #102925;
}

.service-us {
  background-color: #43a393;
  display: flex;
  flex-wrap: wrap; 
  margin: 32px 0; 
}

.service-text {
  flex: 1; 
  padding: 1rem;
}

.service-image {
  flex: 1; 
  padding: 16px;
  text-align: center; 
}

.service-image img {
  width: 100%; 
  max-width: 400px; 
}



@media (max-width:750px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .navlist ul li a{
        font-size: 16px;
    }
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #1d6155;
        top: 80px;
        left: 0 ;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
       display: block;
       margin: 50px 0;
       line-height:30px ;
    }
    nav ul  li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color :#43a393
    }
    #cheak:checked ~ ul {
        left: 0;
        display: none;
       
    }

    .about-us {
        flex-direction: column;
      }
    
      .about-text,
      .about-image {
        flex: 1 0 auto; 
      }

      .service-us {
        flex-direction: column;
      }
    
      .service-text,
      .service-image {
        flex: 1 0 auto; 
      }
     .service {
        width: 100%;
      }
      footer {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-section {
        width: 100%; 
        text-align: center;
        margin-bottom: 20px; 
    }
}


  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .service {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .service img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .service h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .service a {
      color: #ffffff;
      text-decoration: none;
      background-color: #102925;
      border: 1px solid #102925;
      padding: 5px 10px;
      border-radius: 5px;
  }
  
  .service a:hover {
      background-color: transparent;
      color: #102925;
  }
  
  
  .service p {
    color: #102925;
  }
 

  .whyc{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fbffff;
  }
  .whyc h2{
    text-transform: uppercase;
    color: #102925;
  }
  .whygelagayi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  .wgelagayi img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .wgelagayi {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #ffffff;
  }
  .wgelagayi h2 {
    color: #0a917b;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .wgelagayi p {
    color: #000000;
  }
.gm {
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  background-color: #0a917b;
}

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #286359;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #1e473e;
  }
.imag1{
    float: left;
    padding: auto auto;
    height: 40px;
}
#img1{
    height: 300px;
}
.logo2 {
    float: center;
  }
  
.logo2 img {
    height: 70px;
   margin-right: 10px;

 
  }
.auth-buttons {
    float: right;
    margin: 20px 20px;
}

.auth-buttons a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
    border: 1px solid #102925;
    border-radius: 5px;
}

.auth-buttons a.signup {
    background-color: #7dd37f;
}

.auth-buttons a.login {
    background-color: #102925;
}
.auth-buttons a:hover{
    background-color: transparent;
    color: #102925;
}



.logo2info {
  font-weight: bold;
  color:  #286359;
}

footer {
  background-color: #102925;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.footer-section {
  flex: 1;
  margin-bottom: 20px; 
  margin-left: 20px;
}

.footer-section img {
  height: 100px;
  padding-bottom: 20px;
  padding-left: 10px;
  
}


.footer-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #29685e;
}



.footer-section ul {
  list-style: none;
  padding: 10px;

}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-section a{
  text-decoration: none;
  color: #fff;
}
.webasig{
  font-size: larger;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}




